
@mixin button_type1(){
  background-color: rgba($color: $surfie_green, $alpha: 1.0);
  color: $white;
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
  transition: ease-in .2s;

  &:hover {
    background-color: $fountain_blue;
  }
}

@mixin button_type2(){
  background-color: rgba($color: $surfie_green, $alpha: 0);
  color: $white;
  border: 1px solid $surfie_green;
  border-radius: 5px;
  padding: 8px 30px;
  transition: ease-in .2s;

  &:hover {
    background-color: $surfie_green;
  }
}

@mixin button_type3(){
  background-color: rgba($color: $surfie_green, $alpha: 0);
  color: $surfie_green;
  border: 1px solid $surfie_green;
  border-radius: 5px;
  padding: 8px 30px;
  transition: ease-in .2s;

  &:hover {
    background-color: $surfie_green;
    color: $white;
  }
}


@mixin bg-text1() {
  background-color: $gray_nurse;
  color: $blue_lagoon;
  padding: 2px 15px;
  border-radius: 5px;
}

@mixin bg-text2() {
  background-color: rgba($color: $silver_sand, $alpha: 0.4);
  color: $blue_lagoon;
  padding: 2px 15px;
  border-radius: 5px;
}

@mixin bg-text3() {
  background-color: rgba($color: $blue_lagoon, $alpha: 0.2);
  color: $white;
  padding: 2px 15px;
  border-radius: 5px;
}

@mixin bg-text4() {
  background-color: rgba($color: $blue_lagoon, $alpha: 0.2);
  color: $fountain_blue;
  padding: 10px 0px 10px 25px;
  border-radius: 50px 0px 0px 50px;
  margin-right: 5px;
}