
$blue_lagoon: #048383;

$surfie_green: #098081;

$woodsmoke: #111111;

$shark: #1D2528;

$fountain_blue: #52BABB;

$salt_box: #676669;

$silver_sand: #BCBDBD;

$gray_nurse: #E7EEEA;

$white: #FFFFFF;




